.margin-padding {
    width: 268px;
    background-color: #ddd;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px 50px 10px 50px;
    float: left;
    margin-left: 32px;
}

table, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px 20px;
}